sk.dtd

<!ELEMENT TEI (teiHeader | text)*>
<!ATTLIST TEI xml:id ID "Dhaval__SK">
<!ATTLIST TEI xmlns CDATA "http://www.tei-c.org/ns/1.0">
<!ELEMENT teiHeader (fileDesc | encodingDesc | revisionDesc)*>
<!ATTLIST teiHeader xml:lang CDATA "en">
<!ELEMENT fileDesc (titleStmt | publicationStmt | notesStmt | sourceDesc)*>
<!ELEMENT titleStmt (title | respStmt)*>
<!ELEMENT respStmt (persName | resp)*>
